/*
MIT License <https://opensource.org/licenses/mit-license.php>

© 2017 Linden Quan <linden.quan@hotmail.com>

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

html {
    height: 100%;
}

body {
    min-height: 100%;
    min-width: 1100px;
    display: flex;
    align-items: center;
    background: url(../res/img/wood.jpg) repeat-x;
    background-size: auto 100%;
    box-shadow: inset 0 0 15px white;
    background-attachment: fixed;
}

button {
    display: inline-block;
    margin: 0 0 0 0;
    padding: 0.5em 1em;
    font-size: 15px;
    font-family: "Bitter", serif;
    vertical-align: bottom;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

button:focus {
    outline: none
}

button.gradient {
    color: #fff;
    text-shadow: -2px 2px #346392;
    background-color: #ff9664;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6496c8), to(#346392));
    background-image: -webkit-linear-gradient(top, #6496c8, #346392);
    background-image: -moz-linear-gradient(top, #6496c8, #346392);
    background-image: -o-linear-gradient(top, #6496c8, #346392);
    background-image: -ms-linear-gradient(top, #6496c8, #346392);
    background-image: linear-gradient(top, #6496c8, #346392);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#ff9664', EndColorStr='#c86432');
    -webkit-box-shadow: inset 0 0 0 1px #27496d;
    -moz-box-shadow: inset 0 0 0 1px #27496d;
    box-shadow: inset 0 0 0 1px #27496d;
    border: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

button.gradient:hover,
button.gradient.hover {
    -webkit-box-shadow: inset 0 0 0 1px #27496d, 0 5px 15px #193047;
    -moz-box-shadow: inset 0 0 0 1px #27496d, 0 5px 15px #193047;
    box-shadow: inset 0 0 0 1px #27496d, 0 5px 15px #193047;
}

button.gradient:active,
button.gradient.active {
    -webkit-box-shadow: inset 0 0 0 1px #27496d, inset 0 5px 30px #193047;
    -moz-box-shadow: inset 0 0 0 1px #27496d, inset 0 5px 30px #193047;
    box-shadow: inset 0 0 0 1px #27496d, inset 0 5px 30px #193047;
}

.btn {
    padding: 0 15px;
    height: 35px;
    font-weight: bold;
    border: none;
    border: 0;
    line-height: 35px;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    background-color: #007bff;
    position: relative;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 4px #999;
    transition: all 0.3s;
    outline: none;
}

.btn:active:focus {
    outline: none;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.btn:hover,
.btn:focus {
    background-color: #ff0000;
    outline: none;
    color: #ffffff;
}

.btn:hover:after {
    border-color: transparent transparent transparent #ff0000;
}

.btn:hover:before {
    border-color: transparent #ff0000 transparent transparent;
}

.btn:disabled {
    color: grey;
    background-color: #dddddd;
}


.btn-pen {
    padding: 0 0;
    font-size: 17px;
    width: 98px;
    height: 43px;
    font-weight: bold;
    border: 1px;
    line-height: 35px;
    vertical-align: middle;
    text-align: center;
    background-color: transparent;
    position: relative;
    display: inline-block;
    background: transparent url(../res/img/circle.png) no-repeat 50% 0px;
    text-decoration: none;
    outline: none;
    color: #000;
    transition: color 0.3s;
}

.btn-pen:hover,
.btn-pen:active,
.btn-pen:focus {
    background-position: 50% -41px;
}

.btn-pen-active {
    color: white;
    background-position: 50% -41px;
    font-weight: bold;
    font-size: 19px;
    text-shadow: 0 1px 0 #ccc,
    0 0 5px rgba(0, 0, 0, .1),
    0 1px 3px rgba(0, 0, 0, .3);
}

.DAG {
    height: 100%;
}

div.cs-select {
    margin-left: 5px;
    font-size: 1em;
}

.cs-select span {
    padding: 0.3em 0.5em;
}

.cs-select .cs-options {
    width: auto;
    height: auto;
    position: absolute;
    overflow: visible;
}

.cs-skin-boxes .cs-options ul {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px;
    width: 160px;
    height: auto;
    border-radius: 8px;
}

.cs-skin-boxes .cs-options li {
    border-width: 1px;
    width: 28px;
    height: 28px;
    font-size: 24px;
}

.cs-select ul span {
    padding: 0;
}

.cs-skin-boxes .cs-options span {
    text-transform: lowercase;
    line-height: normal;
    vertical-align: middle;
    height: 100%;
    text-align: center;
}

.cs-skin-boxes .cs-options span:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.cs-skin-boxes>span {
    padding-right: 2em;
    text-align: center;
}

#btn-spawn {
    position: absolute;
    right: 3em;
}

div.cs-skin-boxes {
    font-weight: normal;
}

.hvr-back-pulse,
.hvr-back-pulse:focus {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 25px;
    color: white;
    font-weight: 800;
}

.hvr-back-pulse:hover,
.hvr-back-pulse:active {
    -webkit-animation-name: hvr-back-pulse;
    animation-name: hvr-back-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-color: rgba(220, 220, 220, .7);
    color: black;
}

.modal {
    overflow: auto;
}

.modal-body {
    text-align: center;
}

.modal-dialog {
    width: 600px;
    margin: 30px auto;
}

.modal-header {
    border-bottom: none;
}

.modal-title {
    font-size: 2em;
    font-weight: bold;
    color: #13386a;
}

.modal-footer {
    border-top: none;
}

.modal-content {
    border: none;
    border-radius: 5px;
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}


input[type=checkbox] {
    display: none;
}

label {
    font-family: monospace;
    font-size: 1.3em;
    display: inline;
    position: relative;
    margin: 10px;
    padding: 5px 13px 5px 33px;
    border: 3px solid #fff;
    border-radius: 100px;
    color: #fff;
    background-color: #6a8494;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    cursor: pointer;
    user-select: none;
    transition: background-color .2s, box-shadow .2s;
    line-height: 3em;
}

label::before {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: 3px;
    width: 21px;
    border: 3px solid #fff;
    border-radius: 100px;
    transition: background-color .2s;
}


label:hover,
input:focus+label {
    box-shadow: 0 0 20px rgba(0, 0, 0, .6);
}

input:checked+label {
    background-color: #ab576c;
}

input:checked+label::before {
    height: 12px;
    border-radius: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#table-cpt {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

#table-cpt td,
#table-cpt th {
    border: 1px solid #ddd;
    padding: 8px;
    background-clip: padding-box;
}

#table-cpt th:last-of-type,
#table-cpt th:last-of-type {
    width: 5em;
}

#table-cpt tr:nth-child(even) {
    background-color: #f2f2f2;
}

#table-cpt tr:hover {
    background-color: #ddd;
}

#table-cpt th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    overflow: auto;
    position: relative;
}

#table-cpt input[type=text] {
    width: 80%;
}

.cs-placeholder {
    border-radius: 5px;
}

.btn-x {
    color: orangered;
    background: transparent;
    border: none;
    font-size: 2em;
    font-weight: bold;
    padding: 0 0 0 0;
    position: absolute;
    right: 0px;
    top: 0px;
    line-height: normal;
}

#step1-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#step1-head {
    flex-grow: 0;
}


#step1-canvas {
    border-color: rgba(0, 0, 0, .8);
    border-width: 2px;
    border-style: dotted;
    border-radius: 8px;
    flex-grow: 1;
    position: relative;
}

svg {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
}

svg .draggable {
    cursor: move;
}

svg text {
    pointer-events: none;
    user-select: none;
}

.instruction-list li {
    font-size: 16px;
    padding-left: 2.5em;
    list-style-type: none;
}

.instruction-list li:before {
    font-family: 'Glyphicons Halflings';
    content: "\e064";
    position: absolute;
    left: 1.5em;
    color: #075050;
}

</style>